{% extends "bookmark/base.html" %}{% load static %}
{% block titlepage %}{% if bookmark %}{{ bookmark.name }} - {{ block.super }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}

<section class="container mx-auto px-8 lg:px-32 my-4 flex flex-col">
  <ul class="flex flex-row space-x-1 text-white indent-3 text-sm">
    <li class="bg-blue-500 pr-3 font-semibold">
      <a href="{% url 'bookmark:bookmark-list' %}">Latest Bookmarks</a>
    </li>
    <li class="bg-gray-400 pr-3">Explore Tags</li>
  </ul>
  <div class="border-y-4 border-t-blue-500 border-b-gray-300 pt-3 pb-2 mb-3">
    <div class="text-gray-700">
      The most latest bookmarks on Delicioso right now
    </div>
    <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 justify-between text-xs">
      <p class="text-blue-600 font-semibold">
        <a href="{% url 'bookmark:bookmark-list' %}"><i class="fa-solid fa-bookmark"></i> See more latest bookmarks</a>
      </p>
      <p>
        <span class="text-gray-400">New bookmarks saved in the month</span>
        <span class="bg-blue-500 text-white p-1">{{ current_month_total_bookmarks }}</span>
      </p>
    </div>
  </div>
  <div class="flex flex-row space-x-6">
    <div class="sm:basis-5/6">
      {% if bookmark %}
        {% if bookmark.is_public %}
        <div class="flex flex-col border-b border-b-gray-200 mb-2 pb-1">
          <div class="">
            <a href="{{ bookmark.site_url }}" rel="nofollow" class="text-blue-600 hover:underline">{{ bookmark.name }}</a>
          </div>
          {% if bookmark.tags.count %}
          <div class="flex flex-col sm:flex-row justify-between sm:space-x-0.5 space-y-0.5 sm:space-y-0">
            <span class="flex flex-row">
              <span class="text-[11px] bg-gray-50 text-gray-300 px-1"><i class="fa-regular fa-calendar"></i> {{ bookmark.pub_date|date:"DATE_FORMAT" }}</span>
            </span>
            <span class="flex flex-colum space-x-0.5">
              {% for tag in bookmark.tags.all %}
              <span class="text-[11px] bg-gray-200 text-gray-500 px-1 hover:bg-gray-500 hover:text-white">
                <a href="{% url 'bookmark:bookmark-list-by-tag' tag.slug %}">{{ tag.name }}</a>
              </span>
              {% endfor %}
            </span>
          </div>
          {% endif %}
        </div>
        {% elif not bookmark.is_public and user == bookmark.author %}
        <div class="flex flex-col border-b border-b-gray-200 bg-blue-50 mb-2 pb-1">
          <div class="flex justify-between items-start">
            <a href="{{ bookmark.site_url }}" rel="nofollow" class="text-blue-600 hover:underline">
              {{ bookmark.name }}
            </a>
            <span class="bg-blue-500 text-white text-[11px] px-1">private</span>
          </div>
          {% if bookmark.tags.count %}
          <div class="flex flex-col sm:flex-row justify-between sm:space-x-0.5 space-y-0.5 sm:space-y-0">
            <span class="flex flex-row">
              <span class="text-[11px] bg-blue-100 text-blue-400 px-1"><i class="fa-regular fa-calendar"></i> {{ bookmark.pub_date|date:"DATE_FORMAT" }}</span>
            </span>
            <span class="flex flex-row space-x-0.5">
              {% for tag in bookmark.tags.all %}
              <span class="text-[11px] bg-gray-200 text-gray-500 px-1 hover:bg-gray-500 hover:text-white">
                <a href="{% url 'bookmark:bookmark-list-by-tag' tag.slug %}">{{ tag.name }}</a>
              </span>
              {% endfor %}
            </span>
          </div>
          {% endif %}
        </div>
        {% else %}
        {% endif %}
      {% endif %}
    </div>
    {% include "bookmark/sidebar.html" %}
  </div>
</section>

{% endblock %}