SHUSHUPE_DATA_DIR="${HOME}/shushupe/data/dir"
SHUSHUPE_MEDIA_ROOT="${SHUSHUPE_DATA_DIR}/media"
SHUSHUPE_STATIC_ROOT="${SHUSHUPE_DATA_DIR}/static"

DB_ENGINE="django.db.backends.postgresql"
DB_NAME="mydatabase"
DB_USER="mydatabaseuser"
DB_PASSWORD="mypassword"
DB_HOST="localhost"
DB_PORT="5432"
