{% extends "core/base.html" %}{% load static %}
{% block titlepage %}Notes - {% endblock %}
{% block content %}

{% if note_list %}
{% for note in note_list %}
<div class="ui segment text container">
  <div class="column">
    <h3 class="ui header">{{ note.name }}</h3>
  </div>
  <div class="column">
    <div class="ui content">
      {{ note.content_html|safe|truncatewords_html:"25" }}
    </div>
    <div class="ui footer">
      <div class="ui aligned grid">
        <div class="two column row">
          <div class="column">
            <span class="ui small text">
              <a href="{% url 'core:note-detail' note.slug %}">
                {{ note.updated_date|date:'DATETIME_FORMAT' }}
              </a>
            </span>
          </div>
          <div class="right aligned column">
            {% if note.tags.count %}{% for tag in note.tags.all %}
            <span class="ui small text">
              <a href="{% url 'core:article-list-by-tag' tag.slug %}">
                #{{ tag.name }}
              </a>
            </span>
            {% endfor %}{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
{% endif %}

{% if is_paginated %}
<div style="text-align: center;">
  <div class="ui pagination menu">
    {% if page_obj.has_previous %}
    {% if page_obj.previous_page_number == 1 %}
    <a class="item" href="{% url 'core:note-list' %}"><i class="left arrow icon"></i> Previous</a>
    {% else %}
    <a class="item" href="{% url 'core:note-list' %}?page={{ page_obj.previous_page_number }}">
      <i class="left arrow icon"></i> Previous</a>
    {% endif %}
    {% else %}
    <div class="disabled item">
      <i class="left arrow icon"></i> Previous
    </div>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    {% if i == 1 %}
    <a class="active item" href="{% url 'core:note-list' %}">{{ i }}</a>
    {% else %}
    <a class="active item" href="{% url 'core:note-list' %}?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% else %}
    {% if i == 1 %}
    <a class="item" href="{% url 'core:note-list' %}">{{ i }}</a>
    {% else %}
    <a class="item" href="{% url 'core:note-list' %}?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="item" href="{% url 'core:note-list' %}?page={{ page_obj.next_page_number }}">Next &nbsp;
      <i class="right arrow icon"></i>
    </a>
    {% else %}
    <div class="disabled item">
      <span>Next <i class="right arrow icon"></i></span>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}