{% extends "core/base_page.html" %}{% load static %}
{% block titlepage %}{% if page %}{{ page.name }} - {% endif %}{% endblock %}
{% block meta %}<meta name="description" content="{{page.content_html|striptags|truncatewords:"25"}}">
  <meta name="keywords" content="{% for tag in page.tags.all %}{{ tag.name }}, {% endfor %}gustavo huarcaya, gustavo, huarcaya">{% endblock %}
{% block ogp %}<meta property="og:title" content="{% if page %}{{ page.name }} - {% endif %}Gustavo Huarcaya" />
  <meta property="og:description" content="{{page.content_html|striptags|truncatewords:"25"}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="//{{ request.get_host }}{{ request.get_full_path }}" />
  <meta property="og:site_name" content="gahd.net"/>
  <meta property="og:image" content="//{{ request.get_host }}{% static 'img/inti.png' %}" />{% endblock %}
{% block content %}
<div class="ui segment justified text container">
  <h1 class="ui header">{{ page.name }}</h1>
  <div class="ui content">
    {{ page.content_html|safe }}
  </div>
</div>
{% endblock %}