{% extends "core/base_page.html" %}{% load static %}
{% block titlepage %}{% if page %}{{ page.name }} - {% endif %}{% endblock %}
{% block meta %}<meta name="description" content="{{page.content_html|striptags|truncatewords:"25"}}">
  <meta name="keywords" content="{% for tag in page.tags.all %}{{ tag.name }}, {% endfor %}gustavo huarcaya, gustavo, huarcaya">{% endblock %}
{% block ogp %}<meta property="og:title" content="{% if page %}{{ page.name }} - {% endif %}Gustavo Huarcaya" />
  <meta property="og:description" content="{{page.content_html|striptags|truncatewords:"25"}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
  <meta property="og:site_name" content="gahd.net">
  <meta property="og:image" content="https://{{ request.get_host }}{% static 'img/inti.png' %}">{% endblock %}
{% block content %}
<div class="ui segment justified text container">
  <h1 class="ui header">{{ page.name }}</h1>
  <div class="ui content">
    {{ page.content_html|safe }}
  </div>
  <div class="ui footer">
    <div class="ui aligned grid">
      <div class="two column row">
        <div class="column">
          <span class="ui small text">
            <a href="{% url 'core:page-detail' page.slug %}">
              {% if page.slug == 'now' %}{{ page.updated_date|date:'DATETIME_FORMAT' }}
              {% else %}permalink{% endif %}
            </a>
          </span>
        </div>
        <div class="right aligned column">
          {% if page.tags.count %}{% for tag in page.tags.all %}
          <span class="ui small text">
            <a href="{% url 'core:article-list-by-tag' tag.slug %}">
              #{{ tag.name }}
            </a>
          </span>
          {% endfor %}{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}