/*html {
  font-size: 16px;
}*/

body.ftw {
  background:#232323;
}

/******************************************************************************
 * Header
 ******************************************************************************/
#header {
  margin-top: 1.5rem;
}
#header a {
  color: #66CC00;
}

.tagline {
  color: #FFFFFF !important;
}

/******************************************************************************
 * Main
 ******************************************************************************/
main article header a,
main article header a:hover {
  color: #FF0000;
}

main article header a.item,
main article header a.item i {
  color: #0F9A0F !important; 
}

main article section a {
  text-decoration: underline dotted;
}

main article footer a,
main article footer a i {
  color: #008000 !important;
}

main article footer a:hover,
main article footer a:hover i {
  color: #FF0000 !important;
}

.previousnext {
  margin-top: 1.5rem;
  padding: 1rem 0.5rem !important;
}

/******************************************************************************
 * Sidebar
 ******************************************************************************/
.postinfo {
  padding:10px 10px !important;
}

/******************************************************************************
 * Footer
 ******************************************************************************/
#footer {
  margin-bottom: 2.5rem;
}
#footer a,
#footer > div > a > i {
  color: #669900;
}

#footer a:hover,
#footer > div > a:hover > i {
  color: #FF6600;
  /*font-weight: bold;*/
}

#footer > div > div.disabled.item,
#footer > .pie {
  color: #666666 !important;
}

/******************************************************************************
 * Common
 ******************************************************************************/
.postinfo,
.previousnext {
  background:#FFFFCC;
  border-top:1px solid #FF9933;
  border-bottom:1px solid #FF9933;
}

main article section a,
.sidebar a {
  color: #008000;
}

main article section a:hover,
.sidebar a:hover {
  color: #FF0000;
}

/******************************************************************************
 * General
 ******************************************************************************/

blockquote {
  background: #FFE9F4;
  padding: 5px 18px 5px 15px;
  border-left: 4px solid #FF99CC;
  margin-bottom: 10px;
}

pre {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.28571429rem;
  padding: 0.8em;
  overflow: auto;
}

code {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.18571429rem;
  padding: 0.1em 0.2em;
}

pre code {
  border: none;
  display: block;
}

img {
  border-radius: 0.18571429rem;
}

table {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  border-spacing: 0;
}

table tr th:first-child {
  border-left: none;
}

table tr th {
  border-left: 1px solid rgba(34,36,38,.1);
}

table tr th {
  padding: .92857143em .78571429em;
  border-bottom: 1px solid rgba(34,36,38,.1);
}

table tr:first-child td {
  border-top: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td {
  padding: .78571429em .78571429em;
  border-top: 1px solid rgba(34,36,38,.1);
  border-left: 1px solid rgba(34,36,38,.1);
  text-align: inherit;
}

.postlink .linkify,
.comment .comment-link {
  display: none !important;
}

.postlink:hover .linkify,
.comment:hover .comment-link {
  display: inline-block !important;
}

.projects,
.other-sites {
  width: 500px !important;
}
