@use "fonts";
@use "colors";
@use "bg-color";
@use "text-color";
@use "ftw";

/******************************************************************************
 * Post
 ******************************************************************************/
.post-content a {
  --text-opacity: 1;
  color: rgba(220, 38, 38, var(--text-opacity));
}

.post-content ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.post-content ul {
  list-style: inside;
}

.post-content li p {
  display: inline;
}
