/*@import url('https://rsms.me/inter/inter.css');*/
@import "inter.css";

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    /*font-family: 'Inter var', sans-serif;*/
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@import "colors";
@import "bg-color";
@import "text-color";
@import "ftw";

/******************************************************************************
 * Post
 ******************************************************************************/
.post-content a {
  --text-opacity: 1;
  color: rgba(220, 38, 38, var(--text-opacity));
}

.post-content ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.post-content ul {
  list-style: inside;
}

.post-content li p {
  display: inline;
}
