@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.link-blue {
  @apply text-blue-600
}

.callout {
  @apply flex items-center rounded-sm m-1 p-3
}

.callout-green {
  @apply flex items-center rounded-sm m-1 p-3 bg-green-400
}

.callout-red {
  @apply flex items-center rounded-sm m-1 p-3 bg-red-400
}

.callout-yellow {
  @apply flex items-center rounded-sm m-1 p-3 bg-yellow-400
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content p {
  @apply my-2
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold
}

.footnotes {
  @apply text-xs border-dashed border-t pt-3 mt-4 mb-1
}

/*
 * Article
 */

.post-card {
  /* @apply flex bg-slate-900 border border-sky-950 shadow-lg shadow-sky-800 rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl text-white */
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl
}

.post-private-card {
  /* @apply flex bg-slate-900 border border-sky-950 shadow-lg shadow-sky-800 rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl text-white */
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl border-l-4 border-l-red-500
}

.post-card .post-post,
.post-private-card .post-post {
  @apply rounded-sm overflow-auto w-full items-start px-4 py-6
}

.post-card .post-header,
.post-private-card .post-header {
  @apply flex items-center
}

.post-card .post-content,
.post-private-card .post-content {
  @apply mt-3 text-gray-700 text-sm w-full
}

.post-card .post-footer,
.post-private-card .post-footer {
  @apply mt-4 flex items-center
}

/*
 * Note
 */

.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6,
.note-content p {
  @apply my-2
}

.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
  @apply font-semibold
}

#note {
  /* @apply bg-slate-900 text-slate-400 text-lg */
  @apply bg-gray-50
}

.note-card {
  /* @apply flex bg-slate-900 border border-sky-950 shadow-lg shadow-sky-800 rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl text-white */
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl
}

.note-private-card {
  /* @apply flex bg-slate-900 border border-sky-950 shadow-lg shadow-sky-800 rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl text-white */
  /* @apply flex bg-red-100 border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl */
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl border-l-4 border-l-red-500
}

.note-card .note-post,
.note-private-card .note-post {
  @apply rounded-sm overflow-auto w-full items-start px-4 py-6
}

.note-card .note-header,
.note-private-card .note-header {
  @apply flex items-center
}

.note-card .note-content,
.note-private-card .note-content {
  @apply mt-3 text-gray-700 text-sm w-full
}

.note-card .note-content a,
.note-private-card .note-content a {
  --text-opacity: 1;
  color: rgba(220, 38, 38, var(--text-opacity));
}

.note-card .note-content ol,
.note-private-card .note-content ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.note-card .note-content ul,
.note-private-card .note-content ul {
  list-style: inside;
}

.note-card .note-content li p,
.note-private-card .note-content li p {
  display: inline;
}

.note-card .note-footer,
.note-private-card .note-footer {
  @apply mt-4 flex items-center
}

/*
 * Review
 */

 .review-content h1,
 .review-content h2,
 .review-content h3,
 .review-content h4,
 .review-content h5,
 .review-content h6,
 .review-content p {
   @apply my-2
 }

 .review-content h1,
 .review-content h2,
 .review-content h3,
 .review-content h4,
 .review-content h5,
 .review-content h6 {
   @apply font-semibold
 }

.review-card {
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl
}

.review-private-card {
  /* @apply flex bg-slate-900 border border-sky-950 shadow-lg shadow-sky-800 rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl text-white */
  @apply flex bg-white border shadow-md rounded-md mx-4 md:mx-auto my-6 max-w-md md:max-w-2xl border-l-4 border-l-red-500
}

.review-card .review-post,
.review-private-card .review-post {
  @apply rounded-sm overflow-auto w-full items-start px-4 py-6
}

.review-card .review-header,
.review-private-card .review-header {
  @apply flex flex-col md:flex-row space-x-2 items-start
}

.review-card .review-content,
.review-private-card .review-content {
  @apply mt-3 text-gray-700 text-sm w-full
}

.review-card .review-footer,
.review-private-card .review-footer {
  @apply mt-4 flex items-center
}
