<!DOCTYPE html>{% load static %}
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block titlepage %}{% endblock %}Gustavo Huarcaya</title>
  <link rel="preload" href="{% static 'css/tailwind.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}"></noscript>
  <link rel="preload" href="{% static 'css/fontawesome.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}"></noscript>
  <link rel="preload" href="{% static 'css/app.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{% static 'css/app.css' %}"></noscript>
  {% block feed %}
    <link rel="alternate" href="{% url 'core:feed' %}" type="application/atom+xml" title="Gustavo Huarcaya (Atom)">
  <link rel="alternate" href="{% url 'core:json-feed' %}" type="application/feed+json" title="Gustavo Huarcaya (JSON)" />{% endblock %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
  <link type="text/plain" rel="author" href="{% url 'core:humans' %}">
  {% block meta %}
  <meta name="description" content="Gustavo Huarcaya's Personal Page">
  <meta name="keywords" content="gustavo huarcaya, gustavo, huarcaya">{% endblock %}
  {% block ogp %}
  <meta property="og:title" content="Gustavo Huarcaya">
  <meta property="og:description" content="Gustavo Huarcaya's Personal Page">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
  <meta property="og:site_name" content="gahd.net">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/inti.png' %}">
  {% endblock %}
  <script async src="https://analytics.umami.is/script.js" data-website-id="ecee205e-815b-43cc-a5ad-4dc41f8d56d9"></script>
</head>

<body id="note">
  {% block header %}
  {% comment %}
  <nav class="flex justify-center py-4 bg-white/80 backdrop-blur-md shadow-md w-full fixed" aria-label="navbar">
    <section class="flex items-center space-x-12">
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300" href="{% url 'core:index' %}" title="Home">
          <i class="fa-solid fa-house"></i>
        </a>
        <a class="flex text-gray-600 transition-colors duration-300 font-semibold" href="{% url 'core:article-list' %}" title="Articles">
          <i class="fa-solid fa-newspaper"></i>
        </a>
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300" href="{% url 'note:note-list' %}" title="Notes">
          <i class="fa-solid fa-note-sticky"></i>
        </a>
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300" href="{% url 'bookmark:bookmark-list' %}" title="Bookmarks">
          <i class="fa-solid fa-bookmark"></i>
        </a>
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300 hidden">
          <i class="fa-solid fa-photo-film"></i>
        </a>
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300" href="/now/" title="Now">
          <i class="fa-solid fa-clock"></i>
        </a>
        <a class="flex text-gray-600 hover:text-red-500 transition-colors duration-300" href="/contact/" title="Contact">
          <i class="fa-solid fa-at"></i>
        </a>
    </section>
  </nav>
  <div class="p-6"></div>
  {% endcomment %}

  {% include "core/navbar.html" %}

  <div class="fixed bottom-0 right-0 text-gray-600">
    {% if user.is_authenticated %}
    <a href="/admin/">
      <svg class="md:h-6 md:w-6 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </a>
    <a href="{% url 'logout' %}">
      <svg class="md:h-6 md:w-6 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </a>{% endif %}
  </div>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
  {% include "core/footer.html" %}
  {% endblock %}
  <script defer src="{% static 'js/alpine.min.js' %}"></script>
</body>

</html>